## Skoltech
## Intro to data science, fall 2020
## Assigment 2

### Goals
- Make exploratory data analysis
- Apply feature engineering and feature selection
- Try to solve classification task and use classification performance metrics
- Get the taste of gradient boosting approach


# Submiting the answers

Google form to submit your answers: https://docs.google.com/forms/d/1zwUO1KZNDTZYuD12dyMO3CaErGHnZuHx1Mdbo-c11ME/

Use your **skoltech email**. For Name, Surname use **exactly the same spelling** as in canvas system.

---

If your answer is a ``float number``, then it must be provided with **3 decimals after the floating point**, e.g. 1.234

---

If your answer is a ``list of float or integer numbers or str``, then they should be reported in descending (alphabetical) order,  divided by a comma, e.g.:

10.453,9.112,5.001,5.000

---

The last part (Q5) do not have corresponding fields in the google form. It is **not optional** and it will be graded manually from your .ipynb file.

---

If you have any questions regarding this Home Assignment, ask them piazza topic: https://piazza.com/class/kespugtqfrn12g?cid=29

#### Import basic libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set()

### Dataset
For the task we'll use kickstarter dataset. Kickstarter is the crowdfounding platform, where people can announce their project with financial goals and other can support the projects by paying the money ("pledging"). The goal will be to predict if the project will be successfull, i.e. would it achieve the funding goal. Let's take a brief look to the dataset.

In [2]:
df = pd.read_csv('ks-projects-201801.csv')
df.set_index("ID", inplace=True)

In [3]:
df.sample(5)

,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
ID,,,,,,,,,,,,,,
1401877912,ABCs of the 80s! - The Pop Culture Gift / Chil...,Children's Books,Publishing,USD,2017-11-16,32000.0,2017-10-17 18:34:26,32404.0,successful,197,US,2550.00,32404.00,32000.00
1637608493,Dinosaur,Performances,Dance,GBP,2015-08-14,6000.0,2015-07-15 19:30:06,121.0,failed,11,GB,187.42,189.18,9380.86
104423367,Brand New,Romance,Film & Video,USD,2016-08-01,250000.0,2016-06-11 03:28:24,0.0,failed,0,US,0.00,0.00,250000.00
1364275907,"Lennon and the Beatles, a Jazz Tribute",Jazz,Music,USD,2014-07-04,5000.0,2014-05-20 14:38:00,5519.0,successful,136,US,5519.00,5519.00,5000.00
790417382,"Slickery Blends Soaps, Bath Products, candles,...",Crafts,Crafts,USD,2014-11-19,10000.0,2014-10-20 20:29:59,23.0,failed,4,US,23.00,23.00,10000.00

In [4]:
df.shape

(378661, 14)

In [5]:
df.state.value_counts()

failed        197719
successful    133956
canceled       38779
undefined       3562
live            2799
suspended       1846
Name: state, dtype: int64

# Section 1. Dataset acquaintance

-----

### Q1.1

#### How many NaN values are there in the dataset?

----

----

Let us simplify the task a little bit: we are aiming to predict either project fails or not.
Thus 'success' projects will be encoded as 1, with state ['failed', 'canceled'] as 0 and we remove the rows with any other state.

### Q1.2 
#### How many '1' values are in resulting dataset (in state column)?

-----

------

### Q1.3
#### Whats is a name of a project attracted the biggest pay check? (on average). Use column usd_pledged_real to judge. If there are multiple projects, choose any single one.

-----

-----

### Q1.4
#### What is the most successful main category (in terms of success percentage)?

-----

-----

### Q1.5
#### Define the category with highest goal per project. How many projects belong to it?  (note: we use category here, not main_category)

-----

-----

### Q1.6
#### What is the category with biggest total pledge? Use 'usd_pledged_real' to judge.

------

------

As one can notice, there are both numerical and object-type data in our dataframe. 

We suggest you to split them to perform EDA separately. 

### Q1.7
#### Split columns to 'numeric' (by data type) and object-type. How many 'object-type' features are there?

### Q1.8
#### Let's do a bit of feature engineering. Let's create column 'pledge2goal' which define as ratio of usd_pledged_real to goal. How many outliers are there?
#### (We use a simple rule: an object is an outlier if it does not belong to [q25 - 1.5iqr, q75 + 1.5 iqr] interval, where qxx -- xx quantile, and iqr is inter-quantile range.)

### Q1.9
#### Visualize the feature for success and fail cases. What can you say about received distributions? (use bins=10 or 20). Type letter as your answer
- A. Distributions intersect significantly, hard to say for sure that the ratio matters.
- B. Distributions have almost no intersection, the bigger ratio, the bigger success.
- C. Distributions intersect significantly, the bigger ratio, the bigger success
- D. Distributions have almost no intersection, the less ratio, the bigger success.

-----

-----

### Q1.10
#### Continue with plot from Q1.9. Where are the peaks located? We expect two numbers here as the answer

-----

-----

### Q1.11
#### Compute Pearson correlation coefficient between the pledge2real and target variable.

----

-----

### Q1.12
#### Visualize dependancy of numerical data with success. What can you say about it?

# Feature generation
Lets' generate some more feature that could be useful

### Q2.1 Create a year column that would hold the year. How many projects were in year 2012?

### Q2.2 Make a column 'duration_days' with number of full days from launch to deadline.
What is median value for this column?

### Q2.3 Delete mistaken value from column 'country'. What is the value?

### Q2.4 Make column 'region' out of column country (america, europe, asia, oceania(including australiza/nz))
Where is the region with the worst conversion rate (percentage of successful projects)

### Q2.5 For each main_category leave only the three most popular category and replace other with "other"
What is the most frequent subcategory for design?

### Q2.6 create the columns "name_length" with length of the name.
What is the biggets length?

# Preprocessing

### Q3.1 Drop the leaking columns
Based on what we have already seen, can you assume what features are leakeges? What is the columns? Drop them

### Q3.2 Deal with the categorical features.
Lets drop some more columns for now (name, deadline, launched, country, usd_goal_real). Note: you can re-use these columns in the Q5 section. 
Preprocess the rest of categorical columns. How many columns do you have now?

### Q3.3 Split the dataset
Separate the target column (state) without stratification and with random state 42 and test size 0.2. How many of successful projects in train set?

### Q3.4 Scale the numeric columns with standard scaler
What is max number in goal field after scaling?

# Feature selection

### Q4.1 Estimate feature importance by Anova
What is the two most important features by anova with f classifier?

------

------

## Build a model with logistic regression

Use l2 penalty and search for optimal C in np.logspace(-2, 4, 7).

### Q4.2 What is an optimal C for l2 regularization?

### Q4.3 What is the accuracy for this params?

### Q4.4 What is the two most important features by logistic regression estimation?

### Q4.5 Build roc curve and calculate roc-auc score. What is the roc-auc score?


------

------

## Build a random forest model
Use random state 42, maximum depth from 2 to 15, and number of estimators in `[10, 20, 50, 100, 200]`

### Q4.6 What is an optimal depth and number of trees?

### Q4.7 What is the accuracy for this params?

### Q4.8 Build precision-recall curve. What is the precision for recall 0.5?

### Q4.9 What is the two most important features by random forest?

------

------

# Build the stronger model

### Q5.1 Generate two (or more) meaningfull features

### Q5.2 Train an xgboost, that's beat random forest