# Assignment 1 by Kundyz Onlabek

# 1. Loading data

In [1]:
# Load the data
import pandas as pd
hsd = pd.read_csv('kc_house_data.csv')

In [2]:
# Observe top 10 observations (int)
hsd.head(10)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
5,7237550310,20140512T000000,1225000.0,4,4.50,5420,101930,1.0,0,0,...,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930
6,1321400060,20140627T000000,257500.0,3,2.25,1715,6819,2.0,0,0,...,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819
7,2008000270,20150115T000000,291850.0,3,1.50,1060,9711,1.0,0,0,...,7,1060,0,1963,0,98198,47.4095,-122.315,1650,9711
8,2414600126,20150415T000000,229500.0,3,1.00,1780,7470,1.0,0,0,...,7,1050,730,1960,0,98146,47.5123,-122.337,1780,8113
9,3793500160,20150312T000000,323000.0,3,2.50,1890,6560,2.0,0,0,...,7,1890,0,2003,0,98038,47.3684,-122.031,2390,7570

In [3]:
# Q1.3 When was the house with `id` == 2414600126 built (`yr_built`)?
hsd.loc[8, 'yr_built']

1960

In [4]:
# Q1.4 What is the `grade` of a house with `id` == 5631500400?
hsd.loc[2, 'grade']

6

In [5]:
# Observe last 10 observations (int)
hsd.tail(10)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
21603,7852140040,20140825T000000,507250.0,3,2.50,2270,5536,2.0,0,0,...,8,2270,0,2003,0,98065,47.5389,-121.881,2270,5731
21604,9834201367,20150126T000000,429000.0,3,2.00,1490,1126,3.0,0,0,...,8,1490,0,2014,0,98144,47.5699,-122.288,1400,1230
21605,3448900210,20141014T000000,610685.0,4,2.50,2520,6023,2.0,0,0,...,9,2520,0,2014,0,98056,47.5137,-122.167,2520,6023
21606,7936000429,20150326T000000,1007500.0,4,3.50,3510,7200,2.0,0,0,...,9,2600,910,2009,0,98136,47.5537,-122.398,2050,6200
21607,2997800021,20150219T000000,475000.0,3,2.50,1310,1294,2.0,0,0,...,8,1180,130,2008,0,98116,47.5773,-122.409,1330,1265
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [6]:
# Q2.4 How many floors house with `id` == 2997800021 has?
hsd.loc[21607, 'floors']

2.0

In [7]:
# Q2.5 What is the zipcode of the house with `id` == 7852140040?
hsd.loc[21603, 'zipcode']

98065

In [8]:
# Increase maximal displayed columns
pd.options.display.max_columns = 30

In [9]:
# Observe top 10 observations again
hsd.head(10)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
5,7237550310,20140512T000000,1225000.0,4,4.50,5420,101930,1.0,0,0,3,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930
6,1321400060,20140627T000000,257500.0,3,2.25,1715,6819,2.0,0,0,3,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819
7,2008000270,20150115T000000,291850.0,3,1.50,1060,9711,1.0,0,0,3,7,1060,0,1963,0,98198,47.4095,-122.315,1650,9711
8,2414600126,20150415T000000,229500.0,3,1.00,1780,7470,1.0,0,0,3,7,1050,730,1960,0,98146,47.5123,-122.337,1780,8113
9,3793500160,20150312T000000,323000.0,3,2.50,1890,6560,2.0,0,0,3,7,1890,0,2003,0,98038,47.3684,-122.031,2390,7570

In [10]:
# Is there any new columns displayed?
# Yes, column 'condition'

In [11]:
# Print all the columns/features names (int)
hsd.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [12]:
# Q3.1 How many columns have `yr_` prefix?
# 2

In [13]:
# Q3.4 How many columns have `rooms` in their names?
# 2

In [14]:
# Print data size (int)
hsd.shape

(21613, 21)

In [15]:
# Q4.1 How many observations are in the data?
# 21613

In [16]:
# Q4.2 How many features are in the data?
# 21

# 2. Basic data exploration

In [17]:
# Display number of not NaN's in every column (int)
hsd.count()

id               21613
date             21613
price            21613
bedrooms         21613
bathrooms        21613
sqft_living      21613
sqft_lot         21613
floors           21613
waterfront       21613
view             21613
condition        21613
grade            21613
sqft_above       21613
sqft_basement    21613
yr_built         21613
yr_renovated     21613
zipcode          21613
lat              21613
long             21613
sqft_living15    21613
sqft_lot15       21613
dtype: int64

In [18]:
# Q5.2 How many NA values are in the `grade` column?
# 0

In [19]:
# Q5.3 How many NA values are in the `bedrooms` column?
# 0

In [20]:
# Count number of unique values in every column (int)
hsd.nunique()

id               21436
date               372
price             4028
bedrooms            13
bathrooms           30
sqft_living       1038
sqft_lot          9782
floors               6
waterfront           2
view                 5
condition            5
grade               12
sqft_above         946
sqft_basement      306
yr_built           116
yr_renovated        70
zipcode             70
lat               5034
long               752
sqft_living15      777
sqft_lot15        8689
dtype: int64

In [21]:
# Q6.1 How many unique values are in the `bedrooms` column?
# 13

In [22]:
# Q6.4 How many unique values are in the `bathrooms` column?
# 30

In [23]:
# Count frequency of the values in different columns (list of ints in descending order)
# You could select a column using same syntax as for selecting a key from a dictionary: `data[colname]`

In [24]:
# Q7.1 For every unique `floors` value give its number of occurences.
hsd['floors'].value_counts()

1.0    10680
2.0     8241
1.5     1910
3.0      613
2.5      161
3.5        8
Name: floors, dtype: int64

In [25]:
# Q7.2 For every unique `condition` value give its number of occurences.
hsd['condition'].value_counts()

3    14031
4     5679
5     1701
2      172
1       30
Name: condition, dtype: int64

In [26]:
# Display basic data statistics using .describe()
hsd.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [27]:
# Display some column statistics (list of floats, rounded up to 3 digits, e.g. 1.234)

In [28]:
# Q8.1 What are the max, min, mean and the std of the `floors` column?
round(hsd['floors'].max(), 3), round(hsd['floors'].min(), 3), round(hsd['floors'].mean(), 3), round(hsd['floors'].std(), 3)

(3.5, 1.0, 1.494, 0.54)

In [29]:
# Q8.4 What are the max, min, mean and the std of the `price` column?
round(hsd['price'].max(), 3), round(hsd['price'].min(), 3), round(hsd['price'].mean(), 3), round(hsd['price'].std(), 3)

(7700000.0, 75000.0, 540088.142, 367127.196)

In [30]:
# Display data types of all columns (int)
hsd.dtypes

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

In [31]:
# Q9.1 How many columns have `object` data type?
# 1

In [32]:
# Display data types of all columns (list of str)

In [33]:
# Q9.4 What are the columns with dtype == `float64`?
('bathrooms', 'floors', 'lat', 'long', 'price')

('bathrooms', 'floors', 'lat', 'long', 'price')

# 3. Data selection

In [34]:
# setting DataFrame index to be an `id` column, now .loc and .iloc will have different behavior
hsd.index = hsd.id

# dropping `id` column, since now it is an index
hsd.drop('id', axis=1, inplace=True)

# sort data by index for clarity
hsd.sort_index(inplace=True)

In [35]:
# Select rows by position (int)

In [36]:
# Q10.2 When was built a house on row 9999?
hsd.iloc[9999]['yr_built']

2007

In [37]:
# Q10.4 How many bathrooms have a house on row 314?
hsd.iloc[314]['bathrooms']

1.0

In [38]:
# Select rows by index (int)

In [39]:
# Q11.3 When was built the house with index 104510440?
hsd.loc[104510440, 'yr_built']

1984

In [40]:
# Q11.5 What is the living area (in square feets) of the house with index 1225069038?
hsd.loc[1225069038, 'sqft_living']

13540

In [41]:
# Using mask or .query syntax select rows/columns (int)

In [42]:
# Q12.1 How many houses were built during American Great Depression (1929â€“1939)? Including both start and end year.
cond1 = hsd['yr_built'] >= 1929
cond2 = hsd['yr_built'] <= 1939
hsd[cond1 & cond2].index.shape

(644,)

In [43]:
# Q12.3 How many houses are with the highest possible grade?
cond = hsd['grade'] == hsd['grade'].max()
hsd[cond].index.shape

(13,)

In [44]:
# Using mask or .query syntax select rows/columns (int)

In [45]:
# Q13.1 How many houses with the waterfront (=1) were built duroing Nixon's presidency (1969â€”1974)? Including both start and end year.
cond1 = hsd['yr_built'] >= 1969
cond2 = hsd['yr_built'] <= 1974
cond3 = hsd['waterfront'] == 1
hsd[cond1 & cond2 & cond3].index.shape

(6,)

In [46]:
# Q13.2 How many houses, built before first human in space (<1961), have high condition (=5)?
cond1 = hsd['yr_built'] < 1961
cond2 = hsd['condition'] == 5
hsd[cond1 & cond2].index.shape

(1153,)

In [47]:
# Using mask or .query syntax select rows/columns and compute simple statistics (float)

In [48]:
# Q14.4 What is the median number of bathrooms in houses with grade above 9 (10 and more)?
cond = hsd['grade'] > 9
hsd[cond]['bathrooms'].median()

3.25

In [49]:
# Q14.5 What is the median grade of houses with most popular zipcode value?
cond = hsd['zipcode'] == hsd['zipcode'].value_counts().index[0]
hsd[cond]['grade'].median()

7.0

# 4. Creating new columns

In [50]:
# Create `was_renovated` column. Bool column (0, 1) indicating whether the house was renovated.
hsd['was_renovated'] = (hsd['yr_renovated'] != 0)

In [51]:
# Create new columns using the old ones (new column in your DataFrame)

In [52]:
# Q15.1 Create a `sqft_tot_area` column (sum of all columns with `sqft_` prefix) using any method above
hsd['sqft_tot_area'] = hsd[['sqft_living', 'sqft_lot', 'sqft_above', 'sqft_basement', 'sqft_living15', 'sqft_lot15']].apply(sum, axis=1)

In [53]:
# Q15.2 Create a new column `sqm_tot_area` using `sqft_tot_area` and the fact that 1 foot = 0.3048 meters
hsd['sqm_tot_area'] = round(hsd['sqft_tot_area']/(0.3048**2), 3)

In [54]:
# Q15.3 Create a new column `sqm_aver_floor_area` by dividing total area (in meters) by number of floors
hsd['sqm_aver_floor_area'] = round(hsd['sqm_tot_area']/hsd['floors'], 3)

In [55]:
# Q15.4 Create a new column `price_cat` by splitting a `price` into 5 ([1..5]) distinct intervals: 0 < x <=20%,
# 20% < x <= 40%, ... 80% < x <= 100% percentiles. You could use `.quantile()` to compute percentiles.
q1 = hsd['price'].quantile(0)
q2 = hsd['price'].quantile(0.2)
q3 = hsd['price'].quantile(0.4)
q4 = hsd['price'].quantile(0.6)
q5 = hsd['price'].quantile(0.8)
q6 = hsd['price'].quantile(1)
cond1 = (hsd['price'] > q1) & (hsd['price'] <= q2)
cond2 = (hsd['price'] > q2) & (hsd['price'] <= q3)
cond3 = (hsd['price'] > q3) & (hsd['price'] <= q4)
cond4 = (hsd['price'] > q4) & (hsd['price'] <= q5)
cond5 = (hsd['price'] > q5) & (hsd['price'] <= q6)
hsd.loc[cond1, 'price_cat'] = 1
hsd.loc[cond2, 'price_cat'] = 2
hsd.loc[cond3, 'price_cat'] = 3
hsd.loc[cond4, 'price_cat'] = 4
hsd.loc[cond5, 'price_cat'] = 5

In [56]:
# Q15.5 Create a new bool column `high_class` it is True if the house has grade >= 9 and condition >= 4
hsd['high_class'] = (hsd['grade'] >= 9) & (hsd['condition'] >= 4)

In [57]:
# Using mask or .query syntax select rows/columns (float)

In [58]:
# Q16.2 What is the average total_area (in meters) of the house from highest price category?
cond = hsd['price_cat'] == 5
round(hsd[cond]['sqm_tot_area'].mean(), 3)

513356.576

In [59]:
# Q16.4 What is the most frequent zipcode amongst houses with the lowest price category?
cond = hsd['price_cat'] == 1
hsd[cond]['zipcode'].value_counts().index[0]

98023

# 5. Basic date processing

In [60]:
# Create new columns based on `date` column

In [61]:
# Q17.1 Convert date to datetime format
pd.to_datetime(hsd['date'])

id
1000102      2015-04-22
1000102      2014-09-16
1200019      2014-05-08
1200021      2014-08-11
2800031      2015-04-01
                ...
9842300095   2014-07-25
9842300485   2015-03-11
9842300540   2014-06-24
9895000040   2014-07-03
9900000190   2014-10-30
Name: date, Length: 21613, dtype: datetime64[ns]

In [62]:
# Q17.2 Extract and store `year`
hsd['year'] = pd.DatetimeIndex(hsd['date']).year

In [63]:
# Q17.3 Extract and store `month`
hsd['month'] = pd.DatetimeIndex(hsd['date']).month

In [64]:
# Q17.4 Extract and store `day`
hsd['day'] = pd.DatetimeIndex(hsd['date']).day

In [65]:
# Q17.5 Extract and store `weekday`
hsd['weekday'] = pd.DatetimeIndex(hsd['date']).weekday

In [66]:
# Q17.6 Create a new column `house_age_10` - the age of the house in full decades (e.g. 9 year old house - 0, 21 year old house - 2),
# using `yr_built` and 'year' columns
hsd['house_age_10'] = (hsd['year'] - hsd['yr_built'])//10

In [67]:
# Drop column `date`
hsd.drop('date', axis=1, inplace=True)

In [68]:
# Find some date related information from the data (int, Sunday has index 0)

In [69]:
# Q18.1 What is the most popular selling weekday?
hsd['weekday'].value_counts().index[0]

1

In [70]:
# Q18.5 How many houses were sold on America's Independence Day (July, 4)?
hsd[(hsd['month'] == 7) & (hsd['day'] == 4)].index.shape

(2,)

# 6. Groupby

In [71]:
# Create some groupby features

In [72]:
# Q19.2 `price_by_year` groupby `year` and compute median price.
hsd['price_by_year'] = hsd.groupby('year')['price'].transform('median')

In [73]:
# Q19.3 `price_by_weekday` groupby `weekday` and compute median price.
hsd['price_by_weekday'] = hsd.groupby('weekday')['price'].transform('median')

In [74]:
# Create some other groupby features
# for this task check out this answer:
# https://stackoverflow.com/questions/47913343/how-to-groupby-and-map-by-two-columns-pandas-dataframe

In [75]:
# Q20.4 `price_by_grade_age_`(median, std) groupby `grade`, `house_age` and compute median and std `price`.
hsd = hsd.merge(hsd.groupby(['grade', 'house_age_10'])['price'].median(), how='left', left_on=[hsd['grade'], hsd['house_age_10']], right_index=True)
hsd.rename(columns ={'price_x':'price', 'price_y':'price_by_grade_age_median'}, inplace=True)

hsd = hsd.merge(round(hsd.groupby(['grade', 'house_age_10'])['price'].std(), 3), how='left', left_on=[hsd['grade'], hsd['house_age_10']], right_index=True)
hsd.rename(columns ={'price_x':'price', 'price_y':'price_by_grade_age_std'}, inplace=True)

In [76]:
# Q20.5 `living_by_cond_`(median, std) groupby `waterfront`, `view`, `condition` and compute median and std `sqft_living`.
hsd = hsd.merge(hsd.groupby(['waterfront', 'view', 'condition'])['sqft_living'].median(), how='left', left_on=[hsd['waterfront'], hsd['view'], hsd['condition']], right_index=True)
hsd.rename(columns ={'sqft_living_x':'sqft_living', 'sqft_living_y':'living_by_cond_median'}, inplace=True)

hsd = hsd.merge(round(hsd.groupby(['waterfront', 'view', 'condition'])['sqft_living'].std(), 3),how='left', left_on=[hsd['waterfront'], hsd['view'], hsd['condition']], right_index=True)
hsd.rename(columns ={'sqft_living_x':'sqft_living', 'sqft_living_y':'living_by_cond_std'}, inplace=True)

# 7. Building a regression model

In [77]:
# Q21 Drop all generated features which used price column, e.g. price_by_year, price_cat.
hsd.drop(labels = ['price_cat', 'price_by_year', 'price_by_weekday', 'price_by_grade_age_median', 'price_by_grade_age_std'], axis=1, inplace=True)

In [78]:
# Q22 Split your data into train and test parts.
# How many records (rows) do you have in train and test tables? (list of int)?
# Use sklearn.model_selection.train_test_split with test_size=0.33 and random_state=7
from sklearn.model_selection import train_test_split
X = hsd[['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors',
       'waterfront', 'view', 'condition', 'grade', 'sqft_above',
       'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'sqft_living15', 'sqft_lot15', 'year', 'month', 'day', 'weekday']]
y = hsd['price']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=7)

In [79]:
X_train.index.shape

(14480,)

In [80]:
X_test.index.shape

(7133,)

In [81]:
# Create a predictive regression model of a house price.

In [82]:
# Q23.1 Use linear regression with l2 regularization (Ridge regression)
import numpy as np
from sklearn.linear_model import Ridge
from sklearn.tree import DecisionTreeRegressor
from sklearn import neighbors
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
r = Ridge(alpha=1, normalize=True)
r.fit(X_train, y_train)
r_pred = r.predict(X_test)

In [83]:
# Q23.2 Use decision tree regression
dtr = DecisionTreeRegressor(max_depth = 15)
dtr.fit(X_train, y_train)
dtr_pred = dtr.predict(X_test)

In [84]:
# Use grid search to select optimal hyperparamters of your models.

In [85]:
# Q24.1 Alpha for a ridge regression
params = {'alpha': np.arange(1,100,1)}        
grid = GridSearchCV(r, param_grid=params)
grid.fit(X_train, y_train)
grid.best_params_

{'alpha': 1}

In [86]:
# Q24.2 Depth for the tree
params1 = {'max_depth': np.arange(1,100,1)}        
grid1 = GridSearchCV(dtr, param_grid=params1)
grid1.fit(X_train, y_train)
grid1.best_params_

{'max_depth': 9}

In [87]:
# Compute train and test mean squared error for your best models (list of float).

In [88]:
# Q25.1 Train, test MSE using linear regression with l2 regularization
r_b = Ridge(alpha=1, normalize=True)
r_b.fit(X_train, y_train)
r_b_pred = r_b.predict(X_test)
r_b_train = r_b.predict(X_train)

In [89]:
round(mean_squared_error(y_test, r_b_pred), 3)

48104994753.182

In [90]:
round(mean_squared_error(y_train, r_b_train), 3)

58540050595.168

In [91]:
# Q25.2 Train, test MSE using decision tree regression
dtr_b = DecisionTreeRegressor(max_depth = 9)
dtr_b.fit(X_train, y_train)
dtr_b_pred = dtr_b.predict(X_test)
dtr_b_train = dtr_b.predict(X_train)

In [92]:
round(mean_squared_error(y_test, dtr_b_pred), 3)

44177928236.222

In [93]:
round(mean_squared_error(y_train, dtr_b_train), 3)

21345643218.143

In [94]:
# Compute train and test R^2 for your best models (list of float).

In [95]:
# Q26.1 Train, test R^2 using linear regression with l2 regularization
round(r2_score(y_test, r_b_pred), 3)

0.603

In [96]:
round(r2_score(y_train, r_b_train), 3)

0.586

In [97]:
# Q26.2 Train, test R^2 using decision tree regression
round(r2_score(y_test, dtr_b_pred), 3)

0.635

In [98]:
round(r2_score(y_train, dtr_b_train), 3)

0.849

In [100]:
# Q27 Which features have largest (by absolute value) weight in your linear model (top 5 features)? (list of str).
importance_r = pd.DataFrame(r_b.coef_, X.columns)
round(importance_r.nlargest(5, 0), 3)
('waterfront', 'grade', 'view', 'bathrooms', 'floors')

('waterfront', 'grade', 'view', 'bathrooms', 'floors')